Flask==0.10.1
Flask-WTF==0.9.0
Flask-MongoKit==0.6
Flask-Mail==0.9.0
Flask-Script==2.0.3
gunicorn==0.16.1

# Need UTC times which will be 0.3.12 (not relased on PyPi yet)
#rq==0.3.12
git+https://github.com/nvie/rq.git@09d461c2c0523784e893b94eba65b287248d0ec0

rq-dashboard==0.3.1

paegan>=1.1.1
pyoos>=0.6.1
# unreleased parsing fixes in OWSLib
git+https://github.com/geopython/OWSLib.git
geojson
petulant-bear>=0.1.2
wicken>=0.1.2
compliance-checker>=0.2.0
Flask-Captcha==0.1.8
arrow==0.4.3
