{% extends "layout.html" %}

{% block navbar %}
{% endblock %}

{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/map-style.css') }}">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" >
<!--TODO: change to non-cdn assets later.  Use bower? -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
{% endblock %}

{% block basepage %}

<button id="sidebar-toggle" class="btn btn-default">
  <span class="glyphicon glyphicon-align-justify"></span>
</button>

<div id="map_infobar">
  <button type="button" class="btn btn-lg pull-right close">&times;</button>
  <button id="show_geo" class="btn btn-lg btn-primary">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <h4 id="name"></h4>
  <p id="description"></p>

  <h5>Service Endpoint</h5>

  <div class="btn-group pull-right">
    <button class="btn btn-default">
      <span class="label label-info" id="service_type"></span>
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </button>
    <a href="#" id="service_link" target="_blank" class="btn btn-info">
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </div>

  <dl>
    <dt>Name</dt>
    <dd id="service_name"></dd>
    <dt>Last Pinged</dt>
    <dd id="service_last_ping_time"></dd>
  </dl>



  <h5>Dataset Info</h5>


  <a href="#" id="dataset_link" target="_blank" class="btn btn-info">
    <span class="glyphicon glyphicon-new-window"></span>
    Dataset
  </a>

  <dl>
    <dt>Asset Type</dt>
    <dd id="asset_type" class="list-unstyled"></dd>
    <dt>Variables</dt>
    <dd>
      <ul id="variables" class="list-unstyled"></ul>
    </dd>

    <dt>Keywords</dt>
    <dd>
      <ul id="keywords"></ul>
    </dd>

  </dl>
</div>

<div id="map_sidebar">

  <div id="branding">
    <a href="/">
      <img src="{{ url_for('.static', filename='img/ioos.png') }}" alt="IOOS Catalog" />
    </a>
  </div>

  <div id="sidebar-content">
    <div id="filters">
      <select name="filter-provider" class="form-control">
        <option value="-">-</option>
        <!-- <option value="null">All</option> -->
        {% for region in regions %}
        <option value={{ region }}>{{region}}</option>
        {% endfor %}
      </select>
    </div>

    <div id="thumbnails" class="list-group">

    </div>
  </div>
</div>

<div id="map"></div>

<script type="text/javascript" src="{{ url_for('.static', filename='js/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/queue.v1.min.js') }}"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
<script type="text/javascript">

function toggleInfo(did, sindex) {

  $.getJSON('/map/details/'+did +'/'+sindex, function(data) {
    var ib = $('#map_infobar');

    ib.show();

    $('#name', ib).text(data.name);
    $('#description', ib).text(data.description);

    // links
    $('#dataset_link', ib).attr('href', data.dataset_link);
    $('#service_link', ib).attr('href', data.service_link);

    // service
    $('#service_name', ib).text(data.service_name);
    $('#service_last_ping_time', ib).text(data.service_last_ping_time);
    $('#service_type', ib).text(data.service_type);

    // general dl
    $('#asset_type', ib).text(data.asset_type);

    // lists
    var variables = d3.select('#map_infobar').select('#variables').selectAll('li')
      .data(data.variables);

    variables.text(function(d) { return d; });

    variables.enter()
      .append('li')
      .text(function(d) { return d; });

    variables.exit().remove();

    var keywords = d3.select('#map_infobar').select('#keywords').selectAll('li')
      .data(data.keywords);

    keywords.text(function(d) { return d; });

    keywords.enter()
      .append('li')
      .text(function(d) { return d; });

    keywords.exit().remove();
  });
}

function setupFilters() {
  $('select[name^="filter"]').change(function() {
    var provVal = $('select[name="filter-provider"]').val();
    if (provVal == "-") {
      return;
    }
    var url = '/map/geojson/';
    url += provVal + "/";
    console.log("Loading...");
    /* Overlay a spinner to let the user know that the data is being loaded */
    addSpinner();
    d3.json(url, addData);
  })
}


setupFilters();

var map = L.map('map', { zoomControl: false} ).setView([44, -100], 4);
new L.Control.Zoom({ position: 'topright' }).addTo(map);

var baseUrl='http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}.jpg';
//attribution text from http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer
var baseAttrib = 'Sources: Esri, GEBCO, NOAA, National Geographic, DeLorme, HERE, Geonames.org, and other contributors';
var base = new L.TileLayer(baseUrl, { minZoom: 1
                                    , maxZoom: 12
                                    , attribution: baseAttrib});
map.addLayer(base);

function addSpinner() {
  var content = "\
  <div id='spinner'>\
    <img src='/static/img/spinning-loader.svg' alt='Loading...'></img>\
  </div>";
  $('#map').append(content);
}

function removeSpinner() {
  $('#spinner').remove();
}

var lastLayer;
var hoverLayer;
var targetLayer;

function highlight_layer_hover(layer) {
   //may cause other problems, but will show points when multiple points are
   //overlaid
   if (layer._map == null) {
   }
   if (layer.feature.geometry.type === 'Point') {
       //sometimes the old hover layer is not destroyed
       if (hoverLayer) {
           map.removeLayer(hoverLayer);
       }
       hoverLayer = L.circleMarker(layer.getLatLng(), {fillOpacity: 0,
                                                       radius: 12,
                                                       clickable: false})
       map.addLayer(hoverLayer);
       //important, or many hoverLayers can get added
       //if they are exactly overlapping!
       //TODO: Always bring point hover indicators to top z-index level
       hoverLayer.bringToFront();
       if (layer._map != null) {
           layer.bringToFront();
       }
   }
   layer.setStyle({'fillColor': '#F23128',
                   'color': '#8C2E19',
                   'fillOpacity': 0.6});
}

function highlight_layer(layer) {
    if (layer._map != null) {
        layer.setStyle({fillColor: 'red', fillOpacity: 0.7});
    }
}

function reset_highlight(layer) {
    //if highlighted layer is last layer, preserve the style
    if (layer === lastLayer) {
       layer.setStyle({fillColor: 'red', fillOpacity: 0.7});
    } else {
        //Could be more elegant here.  Any container will work since it
        //contains the style, though
        pointFeatures.resetStyle(layer);
    }
    if (layer.feature.geometry.type === 'Point') {
        map.removeLayer(hoverLayer);
    }
}

function click_layer(layer, feature) {
        if (lastLayer) {
            //check if station point
            pointFeatures.resetStyle(lastLayer);
            //remove any marker indicators for selected points if they exist
            if (map.hasLayer(targetLayer)) {
                map.removeLayer(targetLayer);
            }
        }
        if (layer.feature.geometry.type === 'Point') {
            //reset the map object if we have removed the layer
            //important!! this brings the point layergroup into focus, which
            //then allows us to bring the point to the front
            targetLayer = L.marker(layer.getLatLng(), {'fillOpacity': 0,
                                                             color: 'yellow',
                                                             radius: 12});
            //TODO: don't reassign event handler if already present
            targetLayer.on('click', function() { click_layer(layer, feature)})
            map.addLayer(targetLayer);
            map.setView(layer._latlng, 10);
            layer.bringToFront();
            //easier way to get this?
        } else {
          layer.bringToBack();
          zoom_to_bbox(layer.getBounds());
        }
        if (lastLayer) {
            //check if station point
            polyFeatures.resetStyle(lastLayer);
        }
        lastLayer = layer;
        highlight_layer(layer);
        toggleInfo(feature.properties.id, feature.properties.sindex);
}

bind_features2 = function(layer) {
 bind_features(layer.feature, layer)
};

function bind_features(feature, layer) {
    //don't confuse leaflet .on vs d3 .on
    layer.on({
           mouseover: function () { highlight_layer_hover(layer); },
           mouseout: function () { reset_highlight(layer); },
           'click': function () { click_layer(layer, feature); }
        });

    var thumbs = d3.select('#thumbnails')
    var div = thumbs.append('div')
    .attr('class', 'list-group-item')
    .on('click', function () { click_layer(layer, feature) })
    .on('mouseover', function () {
          highlight_layer_hover(layer);
          d3.select(this).classed({'list-group-item-info': true});
    })
    .on('mouseout', function () {
          reset_highlight(layer);
          d3.select(this).classed({'list-group-item-info': false});
    });

    div
        .append('h4')
        .attr('class', 'list-group-item-heading')
        .text(feature.properties.name || feature.properties.id);

    div
        .append('p')
        .attr('class', 'list-group-item-text')
        .text(feature.properties.description || "");

}

function zoom_to_bbox(bbox) {
    //zoom to bounds, while guarding against extraneous values
    //prevent violent crash of Leaflet from extreme bbox values
    var bboxMod = [[bbox.getSouth(), bbox.getWest()],
                   [bbox.getNorth(), bbox.getEast()]];
    //abs used to guard against large/positive values in bbox
    if (Math.abs(bboxMod[0][0]) > 90) {
        bboxMod[0][0] = -90;
    }
    if (Math.abs(bboxMod[1][0]) > 90) {
        bboxMod[1][0] = 90;
    }
    if (Math.abs(bboxMod[0][1]) > 180) {
        bboxMod[0][1] = -180;
    }
    if (Math.abs(bboxMod[1][1]) > 180) {
        bboxMod[1][1] = 180;
    }
    map.fitBounds(bboxMod);
}

var polygons, points, trajectories, mp;

var polyFeatures = L.layerGroup();
var pointFeatures = L.layerGroup();
var traj = L.layerGroup();
var mpFeatures = L.layerGroup();
var individualStation = L.layerGroup();
var clusterGroup = new L.MarkerClusterGroup({disableClusteringAtZoom: 9,
                                             maxClusterRadius: 20});

function addData(error, geojson) {

  //zoom to currently selected dataset
  var datasetBounds = L.geoJson(geojson).getBounds();
  //guard against providers which currently no datasets,
  //and for whom no BBox is thus defined
  if (Object.getOwnPropertyNames(datasetBounds).length > 0) {
      zoom_to_bbox(datasetBounds);
  }
  polyFeatures.clearLayers();
  pointFeatures.clearLayers();
  traj.clearLayers();
  mpFeatures.clearLayers();
  clusterGroup.clearLayers();
  //delete any thumbnails
  d3.select('#thumbnails').selectAll('div').remove();
  /* Remove the spinner now that the content is ready */
  removeSpinner();

  polygons = [];
  trajectories = [];
  mp = [];
  points = [];

  for (var i = 0; i < geojson.features.length; ++i) {
      //FIXME: How should we handle multipoints (i.e. AOOS has many)
      var feat = geojson.features[i];

      switch(feat.geometry.type) {
          case 'Polygon':
              polygons.push(feat); break;
          case 'LineString':
              trajectories.push(feat); break;
          case 'MultiPoint':
              mp.push(feat); break;
          case 'Point':
              points.push(feat);
      }
  }


  function makeStyle(feature) {
    var baseStyle;
    var geomType = feature.geometry.type;
    if (geomType === 'Point' || geomType === 'MultiPoint') {
        baseStyle = {radius: 5,  //for circleMarker
                    'weight': 1,
                     fillOpacity: 1,
                     fillColor: '#FFC883'};
    } else if (geomType == 'LineString') {
        baseStyle = {'weight': 4,
                     'opacity': 1};
    } else {
        baseStyle = {'fillOpacity': 0.09,
                      'weight': 1,
                      fillColor: '#1E313D'};
    };

    globalStyle = {
                    color: '#333',
                    stroke: '#1E313D'
                  }

    //add common style attributes to the features
    return $.extend({}, baseStyle, globalStyle)
  }


  var featureProc = {
            style: makeStyle,
            //use circle markers instead of default
            pointToLayer: function (feature, latlng) {
              return L.circleMarker(latlng);
              },
            onEachFeature: bind_features
            };

  polyFeatures = L.geoJson(polygons, featureProc);
  traj = L.geoJson(trajectories, featureProc);
  mpFeatures = L.geoJson(mp, featureProc)
  pointFeatures = L.geoJson(points, featureProc);
  clusterGroup.addLayer(pointFeatures);
  clusterGroup.eachLayer(bind_features2);

  map.addLayer(polyFeatures);
  map.addLayer(traj);
  //TODO: Better handling of multipoint features
  map.addLayer(mpFeatures);
  map.addLayer(clusterGroup);
}

/* standard controls */
$('#map_infobar .close').click(function() {
  $('#map_infobar').hide();
});

$('#sidebar-toggle').click(function() {
  var map = $('#map');
  if (map.css('left') == '0px') {
    $('#map_sidebar').show();

    map.animate({
      'left': '300px',
    }, 150);

  } else {
    $('#map_sidebar').hide();
    $('#map_infobar').hide();
    map.animate({
      'left': '0px',
    }, 150);
  }
});

$(function() {
  //get trailing components
  var pathComp = document.location.pathname.split('/');
  var setVal = pathComp.length > 2 ? pathComp[2] : null;
  if ($("select option[value='" + setVal + "']").length == 1) {
    defaultVal = setVal;
  } else {
    defaultVal = 'SECOORA';
  }

  $('select').val(defaultVal, true).trigger('change');
});

</script>

{% endblock %}
