{% extends "layout.html" %}

{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/map-style.css') }}"></link>
{% endblock %}

{% block basepage %}

<button id="sidebar-toggle" class="btn btn-default">
  <span class="glyphicon glyphicon-align-justify"></span>
</button>

<div id="map_infobar">
  <button id="show_geo" class="btn btn-lg btn-primary pull-right">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <h4 id="name"></h4>
  <p id="description"></p>

  <h5>Service Endpoint</h5>

  <div class="btn-group pull-right">
    <button class="btn btn-default">
      <span class="label label-info" id="service_type"></span>
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </button>
    <a href="#" id="service_link" target="_blank" class="btn btn-info">
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </div>

  <dl>
    <dt>Name</dt>
    <dd id="service_name"></dd>
    <dt>Last Pinged</dt>
    <dd id="service_last_ping_time"></dd>
  </dl>



  <h5>Dataset Info</h5>


  <a href="#" id="dataset_link" target="_blank" class="btn btn-info">
    <span class="glyphicon glyphicon-new-window"></span>
    Dataset
  </a>

  <dl>
    <dt>Asset Type</dt>
    <dd id="asset_type" class="list-unstyled"></dd>
    <dt>Variables</dt>
    <dd>
      <ul id="variables" class="list-unstyled"></ul>
    </dd>

    <dt>Keywords</dt>
    <dd>
      <ul id="keywords"></ul>
    </dd>

  </dl>
</div>

<div id="map_sidebar">
  <div id="filters">
    <select name="filter-provider" class="form-control">
      <option value="null">-</option>
      {% for region in regions %}
      <option>{{ region }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="btn-group pull-right" data-toggle="buttons">
    <label class="btn btn-default btn-xs active">
      <input type="radio" name="viewopts" value="list">
        <span class="glyphicon glyphicon-th-list"></span>
      </input>
    </label>

    <label class="btn btn-default btn-xs">
      <input type="radio" name="viewopts" value="thumbs">
        <span class="glyphicon glyphicon-th-large"></span>
      </input>
    </label>

  </div>

  <hr />


  <!--<ul class="media-list" id="thumbnails"></ul>-->
  <div id="thumbnails">

  </div>
</div>

<!--<svg id="map" preserveAspectRatio="xMidYMid"></svg>-->
<svg id="map" viewBox="0 0 1000 1000" preserveAspectRatio="xMidYMid slice"></svg>

<svg id="shared"></svg>


<!--<script type="text/javascript" src="{{ url_for('.static', filename='js/d3.v3.min.js') }}" /></script>-->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/queue.v1.min.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/d3.geo.projection.v0.min.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/d3.geo.zoom.js') }}" /></script>

<script type="text/javascript">

function toggleInfo(did, sindex) {

  /*
  if ($('#map_infobar').css('left') != '0px') {
    $('#map_sidebar').animate({
      'left': '+=250'
    }, 150);
    $('#map_infobar').animate({
      'left': '-=50'
    }, 150);

    $('#map_infobar dl').empty();

    return;
  }

  $('#map_sidebar').animate({
    'left': '-=250'
  }, 150, function() {});

  $('#map_infobar').animate({
    'left': '+=50'
  }, 150, function() {});
  */
  $.getJSON('/map/details/'+did +'/'+sindex, function(data) {
    var ib = $('#map_infobar');

    $('#name', ib).text(data.name);
    $('#description', ib).text(data.description);

    // links
    $('#dataset_link', ib).attr('href', data.dataset_link);
    $('#service_link', ib).attr('href', data.service_link);

    // service
    $('#service_name', ib).text(data.service_name);
    $('#service_last_ping_time', ib).text(data.service_last_ping_time);
    $('#service_type', ib).text(data.service_type);

    // general dl
    $('#asset_type', ib).text(data.asset_type);

    // lists
    var variables = d3.select('#map_infobar').select('#variables').selectAll('li')
      .data(data.variables);

    variables.exit().remove();
    variables.enter()
      .append('li')
      .text(function(d) { return d; });

    var keywords = d3.select('#map_infobar').select('#keywords').selectAll('li')
      .data(data.keywords);

    keywords.exit().remove();
    keywords.enter()
      .append('li')
      .text(function(d) { return d; });

  });
}

function setupFilters() {
  $('select[name^="filter"]').change(function() {
    var provVal = $('select[name="filter-provider"]').val();
    if (provVal == "null") {
      //window.location = "{{ url_for("asset_map") }}";
      console.log("michael jackson's beat it");
      return;
    }
    var url = '/map/geojson/';
    url += provVal + "/";

    d3.json(url, addData);
  })
}


setupFilters();

var root = d3.select('#map');

// add points erry hundred
/*
for (var i = 0; i < 1000; i += 100) {

  for (var j = 0; j < 1000; j += 100) {
    root.append('circle')
      .attr('cx', i)
      .attr('cy', j)
      .attr('r', 3)
      .attr('fill', 'red');
  }
}
*/

var margin=10;

// @TODO: browser resize
var width = Math.max(960, window.innerWidth * 0.7),
    height = Math.max(500, window.innerHeight);

var projection = d3.geo.orthographic()
  .scale((1 << 12) / 2 / Math.PI)
  .translate([500, 500])
  .clipAngle(90)
  .rotate([100, -45])
  ;

var smallProjection = d3.geo.mercator()
  .scale(60)
  .translate([32, 32])
  .rotate([100, -50])
  ;

var center = projection([-100, 40])

/*
  .scale(950)
  .rotate([100, 0])
  .translate([750, 750])
  .center([0, 60])
  ;
  */

var graticule = d3.geo.graticule()
  .extent([[-180, -90], [180, 90]])
  .step([5, 5]);

var vector = root.append('path')
  .attr('id', 'geo');
  
var baseshare = d3.select('#shared')
  .append("defs")
  .append("path")
    .attr("id", "basegeo");

var path = d3.geo.path()
  .projection(projection);

var smallPath = d3.geo.path()
  .projection(smallProjection);

var zoom = d3.geo.zoom()
  .projection(projection)
  .on('zoom.redraw', function() {
    d3.event.sourceEvent.preventDefault();
    root.selectAll("path").attr("d", path);
    vector.attr("d", path);
  });

root.call(zoom);

  /*
var zoom = d3.behavior.zoom()
  .scale(projection.scale() * 2 * Math.PI)
  .scaleExtent([1 << 11, 1 << 14])
  .translate([width - center[0], height - center[1]])
  .on("zoom", zoomed);

function zoomed() {
  projection
    .scale(zoom.scale() / 2 / Math.PI)
    //.rotate(zoom.translate());
    .translate(zoom.translate());

  vector
    .attr("d", path);

  // adjust any features we've added
  root.selectAll('.dataset')
    .attr("d", path);
}
*/

d3.json("{{ url_for('.static', filename='geojson/ne_110m_land.geojson') }}", function (error, geojson) {
//d3.json("{{ url_for('.static', filename='geojson/ne_110m_admin_0_countries_lakes.geojson') }}", function (error, geojson) {
  //root.call(zoom);

  baseshare.datum(geojson)
    .attr('d', smallPath);

  root.append("path")
    .datum(graticule)
    .attr("class", "graticule")
    .attr("d", path);

  vector
    .datum(geojson)
    .attr('d', path);

  //zoomed();
});

function addData(error, geojson) {

  // on main map
  var svg = root.selectAll('.dataset')
    .data(geojson.features, function(d) { return d.properties.id;});

  svg.exit().remove();

  svg.enter()
    .append('path')
      .attr('id', function(d) { return d.properties.id; })
      .attr('class', 'dataset')//function(d) { return (d.properties.asset_type == 'CGRID' || d.properties.asset_type == 'RGRID' || d.properties.asset_type=='NCELL') ? 'dataset' : 'point'})
      .attr('d', path);

  // on thumbnail index
  var thumbs = d3.select('#thumbnails').selectAll('.media')
    .data(geojson.features, function(d) { return d.properties.id; });

  thumbs.exit().remove();

  var ps = thumbs.enter()
    .append('div')
      .attr('class', 'media');

  if ($('input[name="viewopts"]:checked').val() == 'thumbs') {
    ps.classed({'media-grid':true});
  }

    var thumbs = ps.append('a')
      .attr('class', 'pull-right')
      .attr('href', '#')
      .append('svg')
      .attr('class', 'media-object')
      .attr('viewBox', '0 0 64 64')
      /*
      .attr('width', '100%')
      .attr('height', '100%');
     */
      ;

    thumbs.append('use')
      .attr('xlink:href', '#basegeo');

    thumbs.append('path')
      .attr('id', function(d) { return 'thumb_' + d.properties.id })
      .attr('class', 'dataset active')
      .attr('d', smallPath); 

    //thumbs.attr('viewBox', '0 0 800 700');
    //thumbs.attr('preserveAspectRatio', 'xMidYMid slice');

    var body = ps.append('div')
      .attr('class', 'media-body');

    body
      .append('h4')
      .attr('class', 'media-heading')
      .text(function(d) { return d.properties.name || d.properties.id; });

    body
      .append('p')
      .text(function(d) { return d.properties.description || ""; });

    ps.on('mouseout', function(d) {
      d3.selectAll('#map path.dataset.active').classed({'active':false});
      d3.select(this).classed({'list-group-item-info': false});
    });

    ps.on('mouseover', function(d) {
      var sel = $('#map #' + d.properties.id);
      d3.selectAll(sel).classed({'active':true});

      d3.select(this).classed({'list-group-item-info': true});
    });

    ps.on('click', function(d) {
      var sel = $('#map .perm-active');
      d3.selectAll(sel).classed({'perm-active':false});

      var sel = $('#map #' + d.properties.id);
      d3.selectAll(sel).classed({'perm-active':true});

      $(this).siblings().removeClass('active');
      $(this).addClass('active');

      toggleInfo(d.properties.id, d.properties.sindex);
    });
}

/* standard controls */

$('#sidebar-toggle').click(function() {
  var map = $('#map');
  if (map.css('left') == '0px') {
    $('#map_sidebar').show();
    $('#map_infobar').show();

    map.animate({
      'left': '30%',
      'width': '70%'
    }, 150);

  } else {
    $('#map_sidebar').hide();
    $('#map_infobar').hide();
    map.animate({
      'left': '0px',
      'width': '100%'
    }, 150);
  }
});

$('input[name="viewopts"]').on('change', function() {
  var val = $(this).val();

  if (val == "list") {
    $('#thumbnails .media').removeClass('media-grid');
  } else if (val == "thumbs") {
    $('#thumbnails .media').addClass('media-grid');
  }
});


/* debug */
$(function() {
  $('select').val('SECOORA', true).trigger('change');

});

</script>

{% endblock %}


