<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IOOS Catalog{% if g.title is defined %} - {{ g.title }}{%endif%}</title>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.js') }}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/chosen.jquery.min.js') }}" /></script>
    {% block javascript %}
    {% endblock %}
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.min.css') }}"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/graph.css') }}"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/ism-style.css') }}"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/chosen.min.css') }}"></link>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% block navbar %}
      <nav class="navbar navbar-custom">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nb-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-img-brand" href="/">
              <img src="{{ url_for('.static', filename='img/ioos.png') }}" alt="IOOS Catalog" />
            </a>
            <a class="navbar-brand" href="/">
              Catalog
            </a>
          </div>

          <div class="collapse navbar-collapse" id="nb-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">All</li>
                  <li><a href="{{ url_for('services') }}">Services</a></li>
                  <li><a href="{{ url_for('datasets') }}">Datasets</a></li>

                  <li role="presentation" class="dropdown-header">Regional Associations</li>
                  {% for ra_provider in ra_providers %}
                  <li><a href="{{ url_for('show_ra', provider=ra_provider) }}">{{ ra_provider }}</a></li>
                  {% endfor %}
                  <li role="presentation" class="dropdown-header">National Partners</li>
                  {% for partner in national_partners %}
                  <li><a href="{{ url_for('show_ra', provider=partner) }}">{{ partner }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li><a href="{{ url_for('metadatas') }}">Asset Inventory</a></li>
              <li><a href="{{ url_for('asset_map') }}">Asset Map <span class="label label-info">BETA</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('help') }}">Help</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}
    </header>
    {% block basepage %}{% endblock %}
  </body>
</html>
