{% extends "layout.html" %}

{% block jumbo %}
<div class="row">
  <ul class="nav-header nav navbar-nav">
    <li><a href="{{ url_for('help') }}">Help</a></li>
    <li> <a href="https://github.com/ioos/catalog/wiki/Roadmap">Roadmap</a></li>
    <li> <a href="https://github.com/ioos/catalog/milestones">Milestones</a></li>
    <li> <a href="{{url_for('feedback')}}">Feedback</a></li>
  <ul>
</div>
{% endblock %}

{% block page %}

<div class="container">
  <div class="col-md-6">
    <h3> We value your feedback </h3>
      We are always looking to improve the tools on this website. If you have feedback you would like to share, we'd appreciate it. Thank you!
    <p>

    <form id="feedbackform" role="form" action="/help/feedback/submit" method="post">
      <div class="form-group">
        <label id='nameLabel' for="name">Enter your name</label>
        <input name="name" type="text" class="form-control" id="nameInput" placeholder="Your Name">
      </div>
      <div class="form-group">
        <label id='emailLabel' for="email">Enter your email address</label>
        <input name="email" type="email" class="form-control" id="emailInput" placeholder="Your Email">
      </div>
      <div class="form-group">
        <label id='commentLabel' for='comments'>Comments</label>
        <textarea name="comments" id='comments' class="form-control" rows="8"></textarea>
      </div>
      <div id='captcha-panel' class="panel panel-default">
        <div class="panel-heading">CAPTCHA</div>
        <div class="panel-body">
          <img id="captcha_img" src="" alt="Captcha"></img>
          <input name="captcha_text" type="text" class="form-control" id="captchaInput">
        </div> <!-- panel-body -->
      </div> <!-- panel -->
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div> <!-- col-md-6 -->
</div> <!-- container -->

<script type="text/javascript">
 
$(function() {
    initiateCaptcha();
}); // document.ready

/*
 * Loads a new captcha image and overrides the submit button action
 */
function initiateCaptcha() {
    var image_key = null;

    $.ajax({
      url: '/captcha_refresh/',
      dataType: 'json',
      success: function(data) {
        $('#captcha_img').attr("src", data.image_url);
        $("#feedbackform").submit(function(e) {
          e.preventDefault();
          var actionURL = e.currentTarget.action;
          var formData = {
            "name" : $('#nameInput').val(),
            "email" : $('#emailInput').val(),
            "comments" : $('#comments').val(),
            "captcha_text" : $('#captchaInput').val(),
            "captcha_img" : data.key
          };
          
          $.ajax({
            url: actionURL,
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(data) {
              window.location = "{{url_for('feedback_success')}}";
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
              console.log(textStatus);
              console.log(errorThrown);
              if(jqXHR.status == '400') { // Wrong Captcha or missing fields
                highlightFields(jqXHR.responseJSON);
                initiateCaptcha();
              }
            },
          }); //ajax
        }); // submit
      } // success
    }); // root ajax

}

/*
 * Adds a red color to each label/field in the response fields
 */
function highlightFields(response) {
  response.fields.forEach(function(field) {
      var domID = '#' + field;
      $(domID).css('color', 'red');
      
  });
}
</script>

{% endblock %}
