{% extends "layout.html" %}

{% block jumbo %}
<div class="row">
  <ul class="nav-header nav navbar-nav">
    <li><a href="{{ url_for('help') }}">Help</a></li>
    <li> <a href="https://github.com/ioos/catalog/wiki/Roadmap">Roadmap</a></li>
    <li> <a href="https://github.com/ioos/catalog/milestones">Milestones</a></li>
    <li> <a href="{{url_for('feedback')}}">Feedback</a></li>
  <ul>
</div>
{% endblock %}

{% block page %}

<div class="container">
  <h2>Frequently Asked Questions</h2>

  <h4>What is a Service?</h4>

  <p>{% include 'service_help_text.txt' %}</p>

  <p>The current supported services are DAP, SOS, WCS, and WMS.</p>

  <h4>What is a Dataset?</h4>

  <p>{% include 'dataset_help_text.txt' %}</p>

  <div class="alert alert-info">Only DAP and SOS datasets are currently supported.</div>

  <h4>Why do some regions/groups have many services while others don't?</h4>

  <p>RAs have many options in their DMAC implementations depending on their workflows.  Different services offer different capabilities; for instance, an SOS deployment via <a href="http://ioossos.axiomalaska.com">i52N</a> allows a single Service endpoint to produce a large number of Datasets.  Providing SOS via <a href="http://github.com/asascience-open/ncsos">NcSOS</a> via THREDDS results in a 1:1 mapping between service endpoint and dataset.</p>

</div>

{% endblock %}
