{% extends "layout.html" %}

{% block page %}

<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-lg-6" id="map">
      </div>

      <div class="col-lg-6">
        <h3 style="margin-top: 0px">Explore Services</h3>

        <p>1. Pick provider(s) using the dropdown or the map:</p>

        <select id="region-select" class="form-control" multiple="multiple">
          {%- for provider in providers %}
          <option>{{ provider }}</option>
          {%- endfor %}
        </select>

        <br/>
        <p>2. Choose a filter:</p>
        <div class="row">
          <div class="col-lg-6">
            <p class="show-tooltip" data-toggle="tooltip" data-placement="left"
               title="{% include 'service_help_text.txt' %}">
              <strong>Services</strong>
            </p>
            <div id="service-type-btns">
            </div>
          </div>
          <div class="col-lg-6">
            <p class="show-tooltip" data-toggle="tooltip" data-placement="left"
              title="{% include 'dataset_help_text.txt' %}">
              <strong>Datasets</strong></p>
            <div id="dataset-type-btns">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" id="pings">
</div>

<div class="container">
  <div class="row">
    <div id="recent" class="col-lg-8">
      <h3>Recent Updates</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width: 6em;">Updated</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <div id="overview">
        <h3>Service Overview</h3>
        <ul class="list-group"></ul>
      </div>

      <div id="assettypes">
        <h3>Dataset Overview</h3>
        <div>
          <ul class="list-group">
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ url_for('.static', filename='js/d3.v3.min.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/queue.v1.min.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/rickshaw.min.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/servicemappings.js')}}" /></script>

<script type="text/javascript">

function updateTypeBtns(srcData, keyFunc, btnContainerSel, urlBase, overviewSel, tooltips) {
  var region = $('#region-select').val();

  // GET DATA
  var data = srcData;
  if (region && region.length) {
    data = data.filter(function(d) { return $.inArray(d.data_provider, region) != -1; });
  }

  var allsum = d3.sum(data, function(d) { return d.cnt });

  var entries = d3.nest()
    .key(keyFunc)
    .rollup(function(ents) { return d3.sum(ents, function(d) { return d.cnt; }); })
    .entries(data);

  entries.unshift({key: 'All', values: allsum})

  // UPDATE BUTTONS
  var svcbtns = d3.select(btnContainerSel).selectAll('.type-btn')
    .data(entries, function(d) { return d.key; });

  // disable exiting items
  svcbtns.exit()
    .classed({
      'btn-success': false,
      'btn-default': true
    })
    .attr('disabled', 'disabled')
    .select('.badge')
      .text("0");

  svcbtns.enter()
    .append('a')
      .classed({
        'type-btn': true,
        'btn':true,
        'btn-lg': true,
        'btn-block': true,
      })
      .attr('title', function(d) { return tooltips[d.key] || null; })
      .text(function(d) { return d.key + " "; })
    .append('span')
      .attr('class', 'badge');

  // both new and existing badges get updated
  svcbtns.select('.badge')
    .text(function(d) { return d.values; });

  // both new and existing hrefs get updated
  svcbtns.attr('href', function(d) {
    var ltype = (d.key != "All") ? d.key : "null";
    var rtype = sanitizeServiceUrl(region);
    return '/' + urlBase + '/filter/' + rtype + '/' + ltype;
  });

  // remove disabled, add class
  svcbtns
    .classed({
        'btn-success': true,
        'btn-default': false,
    })
    .attr('disabled', null);

  // UPDATE OVERVIEW
  var ovitems = d3.select(overviewSel).select('ul.list-group').selectAll('.list-group-item')
    .data(entries, function(d) { return d.key; });

  ovitems.exit()
    .select('.badge')
    .text("0");

  ovitems.enter()
    .append('li')
      .attr('class', 'list-group-item')
      .text(function(d) { return d.key; })
    .append('span')
      .attr('class', 'badge');

  // always update badge number
  ovitems.select('.badge')
    .text(function(d) { return d.values; });
}

function updateRecentUpdates() {
  // updates the update region with relevant terms
  var region = $('#region-select').val();

  // filter
  var data = updates;
  if (region && region.length) {
    data = data.filter(function(v) {
      return $.inArray(v.data_provider, region) != -1;
    });
  }

  // sort (in place)
  data.sort(function(a, b) {
    return b.updated - a.updated;   // timestamps
  });

  // trim
  data = data.slice(0, 10);

  // select and update
  var trs = d3.select('#recent').select('table').select('tbody').selectAll('tr')
    .data(data, function(d) { return d.id });

  trs.exit().remove();

  var newtrs = trs.enter()
    .append('tr');

  var nametd = newtrs.append('td');
  nametd.append('a')
    .attr('href', function(d) { return d.url; })
    .text(function(d) { return d.name || "(unnamed)"; });
  nametd.append('br')
  nametd.append('small')
    .html(function(d) { return d.data_provider + ' &middot; ' + d.service_type + ' &middot; ' + d.update_type });

  newtrs.append('td')
    .text(function(d) { return d.updated_display });

  trs.order();
}

$(function() {
  $('#region-select').on('change', function() {
    updateTypeBtns(
      countsByProvider,
      function(d) { return d.service_type; },
      '#service-type-btns',
      'services',
      '#overview',
      {}
      );
  });
  $('#region-select').on('change', function() {
    updateTypeBtns(
      datasetsByProvider,
      function(d) { return d.asset_type; },
      '#dataset-type-btns',
      'datasets',
      '#assettypes',
      dsTranslate
      );
  });
  $('#region-select').on('change', updateRecentUpdates);
  $('#region-select').on('change', updateMap);
  $('#region-select').change();

  $('#region-select').chosen({
    placeholder_text_multiple: "No filters selected..."
  });

  $('.type-btn').tooltip(
    {placement:'left',
    animation:false
  });
});

function updateMap() {
  // updates the map to show active/inactive dots based on what's currently selected
  var curVals = $('#region-select').val();

  if (curVals && curVals.length) {
    d3.selectAll('g.ioos > g').classed({inactive:function(d) { return $.inArray(d.properties.region, curVals) == -1; }});
  } else {
    // turn inactive off of all
    d3.selectAll('g.ioos > g').classed({inactive:false});
  }
}

var width = 600,
    height = 400;

var projection = d3.geo.albers()
    .scale(275)
    .rotate([100, 0])
    .center([50.6, 25.7])
    //.parallels([29.5, 45.5])
    //.precision(.1)
    //.translate([0, height / 2]);

var path = d3.geo.path()
  .projection(projection);

var svg = d3.select("#map").append("svg")
  .attr("width", width)
  .attr("height", height);

  svg.append("filter").attr("id", "blur-effect-1").append("feGaussianBlur").attr("stdDeviation", 2);

queue()
  .defer(d3.json, "{{ url_for('.static', filename='geojson/na_merged.geojson') }}")
  .defer(d3.json, "{{ url_for('.static', filename='geojson/ioos.geojson') }}")
  .await(function(error, na, ioos) {
    svg.append("g")
      .attr('class', 'map')
      .selectAll("path")
        .data([na])
      .enter().append("path")
        .attr("d", path);

    var regions = svg.append("g")
      .attr('class', 'ioos')
      .selectAll("g.ra")
      .data(ioos.features);

    var rgs = regions.enter()
      .append('g')
        .attr('id', function(d) { return 'map-' + d.properties.region; })

    rgs
      .append("path")
        .attr("d", path);

    var textg = rgs.append("g")
      .attr("transform", function(d) { var proj = projection(d.geometry.coordinates); proj[0] += 5; proj[1] += 5; return "translate(" + proj[0] + "," + proj[1] + ")"; })
      .on('click', function() {
        var region = d3.select(this).datum().properties.region,
          curVals = $('#region-select').val();

        if (curVals == null) { curVals = Array() };
        var curIdx = $.inArray(region, curVals);

        if (curIdx != -1) {
          curVals.splice(curIdx, 1);
        } else {
          curVals.push(region);
        }

        $('#region-select')
          .val(curVals)
          .trigger('chosen:updated')
          .change();
      });

    textg.append("text")
      .text(function(d) { return d.properties.region; })
      .attr("class", "first");

    textg.append("text")
      .text(function(d) { return d.properties.region; })
      .attr("class", "main");

  });

var countsByProvider   = {{ counts_by_provider | tojson }};
var datasetsByProvider = {{ dataset_counts_by_provider | tojson }};
var updates            = {{ updates | tojson }};
var dsTranslate = {
  RGRID: 'Rectilinear Grid',
  CGRID: 'Curvilinear Grid',
  NCELL: 'Irregular/Unstructured Grid',
  UNKNOWN: 'Unknown',
  "(NONE)": 'No Dataset Type detected',
  "FIXED MET STATION": 'Fixed Met Station',
  BUOY: 'Buoy'
};

//activate help tooltips for services and datasets
$('.show-tooltip').tooltip()

</script>

{% endblock %}
