{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}">
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename='js/packery.pkgd.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.backstretch.min.js')}}"></script>
{% endblock %}

{% block page %}

<div class="container">
  <div class="row shrunk">
    <div class="col-sm-12 col-md-12 welcome">
  <h1>Welcome</h1>
      <p>U.S. IOOS is a vital tool for tracking, predicting, managing, and adapting to changes in our ocean, coastal and Great Lakes environment. U.S. IOOS delivers the data and information needed, so that decision-makers can take action to improve safety, enhance the economy, and protect the environment. Explore the interactive features of the new IOOS Data Catalog.</p>
    </div> <!-- welcome -->
  </div> <!-- row -->
  <div id='packery-container' class="row">
    <div id="gliders-ico" class="item item-smallest">
        <div class="overlay">
          <a href="{{url_for('gliders')}}">
            Gliders
          </a>
        </div>
    </div>
    <div id="map-ico" class="item item-larger">
      <div class="dynamic-overlay">
        <h5>{{ total_datasets | safe }} Datasets | {{ total_services | safe }} Services</h5>
      </div>
      <div class="overlay overlay-map">
        <a href="{{url_for('catalog_map')}}">
          Catalog Map
        </a>
      </div>
    </div>
    <div id="featured-ico" class="item item-smallest">
      <div class="overlay">
          <a href="{{url_for('featured_maps')}}">
            Featured Maps
          </a>
      </div>
    </div>
    <div id="btn-ico" class="item item-smaller">
      <div class="overlay overlay-sq">
        <a href="{{url_for('by_the_numbers')}}">
          By The Numbers
        </a>
      </div>
    </div>
    <div id="inventory-ico" class="item item-smaller">
      <div class="overlay overlay-sq">
        <a href="{{url_for('inventory')}}">
          Catalog Inventory
        </a>
      </div>
    </div>
    <div id="download-ico" class="item item-smallest">
        <div class="overlay">
          <a href="{{url_for('help_download')}}">
            Download Help
          </a>
        </div>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-2 pull-right">
        <a class="text-muted" href="{{url_for('static', filename='attributions.txt')}}">Photo Attributions</a>
    </div>
  </div>

  <div class="row news">
    <div class="col-sm-12 col-md-6"> <!-- social media -->
      <h1> SOCIAL MEDIA </h1>
      <a class="twitter-timeline" href="https://twitter.com/usioosgov" data-widget-id="514076757905793024">Tweets by @usioosgov</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-sm-12 col-md-6"> <!-- news -->
      <h1>NEWS:</h1>
      <div class="thumbnail">
        <ul>
          <li>Federal Register Notice Of Open Meeting of U.S. IOOS® Advisory Committee (Duluth, MN) on October 2-3, 2014</li>
          <li>The U.S. IOOS Data Management and Communication (DMAC) core services, have released their fifth QARTOD manual - Released, 05/2014</li>
          <li>The U.S. IOOS Summit Report was published by the Interagency Ocean Observation Committee (IOOC) and is now available, 09/2013</li>
          <li>U.S. Integrated Ocean Observing System (U.S. IOOS®) 2013 Report to Congress (pdf), 06/2013</li>
        </ul>
      </div> <!-- thumbnail -->
      <div class="right-caption">
        <div class="right-caption-img">
          <a href="https://www.facebook.com/usioosgov">
            <img src="//img2.wikia.nocookie.net/__cb20130501121248/logopedia/images/f/fb/Facebook_icon_2013.svg" alt="Facebook"></img>
          </a>
        </div>
        <div class="caption">
          <h3>Facebook</h3>
          <p>Stay Connected - "Like" us on <a href="https://www.facebook.com/usioosgov">Facebook</a></p>
        </div>
      </div> <!-- thumbnail -->
      <h1> CONTACT: </h1>
      <a href="mailto:contact@ioos.org">contact@ioos.org</a>
    </div> <!-- col -->

</div>

<script type='text/javascript'>

$(document).ready(function() {
    $('#gliders-ico')
      .backstretch("{{url_for('static', filename='img/landing/glider.png')}}")
      .click(function() {
        window.location = "{{url_for('gliders')}}";
      });
    $('#map-ico')
      .backstretch("{{url_for('static', filename='img/landing/earth.png')}}")
      .click(function() {
        window.location = "{{url_for('catalog_map')}}";
      });

    $('#featured-ico')
      .backstretch("{{url_for('static', filename='img/landing/bathy.png')}}")
      .click(function() {
        window.location = "{{url_for('featured_maps')}}";
      });
    $('#btn-ico')
      .backstretch("{{url_for('static', filename='img/landing/btn.png')}}")
      .click(function() {
        window.location = "{{url_for('by_the_numbers')}}";
      });

    $('#inventory-ico')
      .backstretch("{{url_for('static', filename='img/landing/wave.png')}}")
      .click(function() {
        window.location = "{{url_for('inventory')}}";
      });
    $('#download-ico')
      .backstretch("{{url_for('static', filename='img/landing/map.png')}}")
      .click(function() {
        window.location = "{{url_for('help_download')}}";
      });
    var packeryContainer = $('#packery-container');
    packeryContainer.packery({
      itemSelector: '.item',
      gutter:10
    });

});

</script>

{% endblock %}
