{% extends "layout.html" %}

{% block jumbo %}
<div class="row">
  <div class="col-lg-6">
    <h3> <a href="{{ url_for('metadatas') }}">Asset Inventory <span class="label label-info">ALPHA</span></a></h3>
  </div>
</div>
{% endblock %}

{% block page %}

<div class="container">

<div class="row">
  <div class="col-sm-6">
    <form class="" method="POST" action="{{ url_for('metadatas_csv') }}">
      {{ form.hidden_tag() }}

      <!--
      <div class="form-group">

        <label class="control-label" for="{{ form.start_date.name }}">{{ form.start_date.label }}</label>

        {{ form.start_date(class_="form-control", disabled="disabled") }}
        {% if form.start_date.description %}
          <span class="help-block">{{ form.start_date.description }}</span>
        {% endif %}
      </div>

      <div class="form-group">

        <label class="control-label" for="{{ form.end_date.name }}">{{ form.end_date.label }}</label>

        {{ form.end_date(class_="form-control", disabled="disabled") }}
        {% if form.end_date.description %}
          <span class="help-block">{{ form.end_date.description }}</span>
        {% endif %}
      </div>
      -->

      <div class="form-group">

        <label class="control-label" for="{{ form.data_provider.name }}">{{ form.data_provider.label }}</label>

        {{ form.data_provider(class_="form-control") }}
        {% if form.data_provider.description %}
          <span class="help-block">{{ form.data_provider.description }}</span>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-primary">Download Inventory (CSV)</button>
      <a href="#" id="btn-view" class="btn btn-primary">View Inventory</a>

    </form>
  </div>

  <div class="col-sm-6">
    <h2>Asset Inventory <span class="label label-info">ALPHA</span></h2>
    <p>
      A comprehensive, automated inventory of observational assets is key goal of
      IOOS. The services in this Catalog publish metadata records of various formats
      that describe the source of the data published via the services. This initial
      version of the Asset Inventory is an attempt to automatically infer the
      inventory of observing assets deployed in a given region from the metadata
      published by data services. Continued attentiveness to metadata maintenance,
      through communication between dataset providers and regional and federal web
      service providers, is needed to ensure the effectiveness and accuracy of the
      Asset Inventory.
    </p>

  </div>
</div>

</div>

<script type="text/javascript">

$(function() {
  $('#btn-view').click(function() {
    var provVal = $('select[name="data_provider"]').val();
    if (provVal == "null") {
      window.location = "{{ url_for("view_metadatas") }}";
      return;
    }
    var url = '{{ url_for("view_metadatas") }}/';
    url += provVal;
    window.location = url;
  });
});

</script>
{% endblock %}
