{% extends "layout.html" %}

{% block jumbo %}
<div class="row">
  <div class="col-sm-3">
    <br>
    <h3><a href="{{ url_for('services') }}">Services</a></h3>
  </div>
  <!-- Left column for fields -->
  <div class="col-sm-4" style="text-align: left;">
    <label for="filter-provider">By Provider</label>
    <!-- This is the Drop-Down box for the providers
         The default text is managed by JS -->
    <select id="region-select" data-placeholder="No providers selected..." class="form-control" multiple="multiple" style="height:30px;">
    </select>
  </div>
  <div class="col-sm-3" style="text-align: left;">
    <label for="filter-type">By Type</label>
    <!-- This is the drop down for the Types -->
    <select id="filter-select" data-placeholder="No dataset types selected..." class="form-control" multiple="multiple" style="height:30px;">
    </select>
  </div>
  <div class="col-sm-2">
    <!-- Single button -->
    <div class="pull-right">
      <label>Filter</label>
      <br>
      <div class="btn-group">
        <button id='apply-btn' type="button" class="btn btn-default">Apply</button>
        <button id='reset-btn' type="button" class="btn btn-default">Reset</button>
      </div> <!-- btn-group -->
    </div> <!-- pull-right -->
  </div> <!-- col-sm-4 -->
</div> <!-- row -->
{% endblock %}

{% block page %}

<div class="container">
    <table class="table table-striped table-bordered table-condensed" style="font-size: 11px;">
        <thead>
            <tr>
                <th>Service Provider</th>
                <th>Service Type</th>
                <th>Service Name</th>
                <th title="The date of the last status update for the service">Last Status Update</th>
                <th title="The service response code. 200 means the service is up and running succesfully">HTTP Status Code</th>
                <th title="The time for a return trip response from the service, measured in milliseconds">Response Time (ms)</th>
                <th title="The average of the response times over the span of a week">Weekly Average Response Time (ms)</th>
                <th>Service Status</th>
            </tr>
        </thead>
        {%- for service_group in services|groupby('tld') %}
        <tbody>
            <tr class="hilite">
              <td colspan="7">{{ service_group.grouper }}</td>
              <td>{{ tld_stats[service_group.grouper]['ok'] }}/{{ tld_stats[service_group.grouper]['total'] }}</td>
            </tr>
            {%- for service in service_group.list %}
            {%- set ss = service_stats[service._id] %}
            <tr class="{{ "danger" if ss['last_operational_status'] == 0 and ss['last_update'] }}">
                <td>{{ service.data_provider }}</td>
                <td><a href="{{ service.url }}">{{ service.service_type }}</a></td>
                <td><a href="{{ url_for('show_service', service_id=service._id) }}">{{ service.name | truncate(40, True) }}</a></td>
                <td><abbr title="{{ ss['last_update'] | datetimeformat }}">{{ ss['last_update'] | prettydate }}</abbr></td>
                <td>{{ ss['last_response_code'] }}</td>
                <td>{{ ss['last_response_time'] }}</td>
                <td>{{ ss['avg_response_time'] | float | round }}</td>
                <td>{{ ss['last_operational_status'] | status_icon | safe }}</td>
            </tr>
            {%- endfor %}
         </tbody>
        {%- endfor %}
    </table>

    <!--
    <h4>Add Service</h4>

    <div>
      <form class="form-horizontal" method="POST" action="{{ url_for('add_service') }}">
        {{ form.hidden_tag() }}

        {% for field in form %}
          {% if field.name != "csrf_token" %}
          <div class="control-group">
            <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
            <div class="controls">
              {{ field() }}
              {% if field.description %}
                <span class="help-block">{{ field.description }}</span>
              {% endif %}
            </div>
          </div>
          {% endif %}
        {% endfor %}

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Add Service</button>
          </div>
        </div>
      </form>
    </div>
    -->

    <script type="text/javascript" src="{{ url_for('.static', filename='js/servicemappings.js')}}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/selectboxes.js')}}" /></script>
    <script type="text/javascript">
      $(function() {
        populateBoxes();

        $('#region-select').chosen();
        $('#filter-select').chosen();

        /* Callback for the click event */
        $('#apply-btn').click(function() {
          applyFilter("{{url_for("services")}}");
        });
        $('#reset-btn').click(function() {
          resetFilter("{{url_for("services")}}");
        });

        updateSelectBoxes();


      });
      function populateBoxes() {
      {%- for provider in providers|sort %}
        $('#region-select').append("<option>{{ provider }}</option>");
      {%- endfor %}
        $('#filter-select').append("<option>WMS</option>");
        $('#filter-select').append("<option>DAP</option>");
        $('#filter-select').append("<option>WCS</option>");
        $('#filter-select').append("<option>SOS</option>");

      }


    </script>

</div>

{% endblock %}
