{% extends "layout.html" %}

{% block jumbo %}
<div class="row">
  <div class="col-sm-4">
    <br>
    <h3><a href="{{ url_for('services') }}">Services</a></h3>
  </div>
  <!-- Left column for fields -->
  <div class="col-sm-4" style="text-align: left;">
    <label for="filter-provider">By Provider</label>
    <!-- This is the Drop-Down box for the providers
         The default text is managed by JS -->
    <select id="region-select" class="form-control" multiple="multiple">
      {%- for provider in providers|sort %}
      <option>{{ provider }}</option>
      {%- endfor %}
    </select>
  </div>
  <div class="col-sm-2">
    <label for="filter-type">By Type</label>
    <!-- This is the drop down for the Types -->
    <select id='filter-select' name="filter-type" class="form-control">
      <option value="null">-</option>
      <option>WMS</option>
      <option>DAP</option>
      <option>WCS</option>
      <option>SOS</option>
    </select>
  </div>
  <div class="col-sm-2">
    <!-- Single button -->
    <label>Filter</label>
    <br>
    <div class="btn-group">
      <button id="filter-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Filter <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Apply Filter</a></li>
        <li><a href="#">Reset Filter</a></li>
      </ul>
    </div> <!-- btn-group -->
  </div> <!-- col-sm-4 -->
</div> <!-- row -->
{% endblock %}

{% block page %}

<div class="container">
    <table class="table table-striped table-bordered table-condensed" style="font-size: 11px;">
        <thead>
            <tr>
                <th>Service Provider</th>
                <th>Service Type</th>
                <th>Service Name</th>
                <th title="The date of the last status update for the service">Last Status Update</th>
                <th title="The service response code. 200 means the service is up and running succesfully">HTTP Status Code</th>
                <th title="The time for a return trip response from the service, measured in milliseconds">Response Time (ms)</th>
                <th title="The average of the response times over the span of a week">Weekly Average Response Time (ms)</th>
                <th>Service Status</th>
            </tr>
        </thead>
        {%- for service_group in services|groupby('tld') %}
        <tbody>
            <tr class="hilite">
              <td colspan="7">{{ service_group.grouper }}</td>
              <td>{{ tld_stats[service_group.grouper]['ok'] }}/{{ tld_stats[service_group.grouper]['total'] }}</td>
            </tr>
            {%- for service in service_group.list %}
            {%- set ss = service_stats[service._id] %}
            <tr class="{{ "danger" if ss['last_operational_status'] == 0 and ss['last_update'] }}">
                <td>{{ service.data_provider }}</td>
                <td><a href="{{ service.url }}">{{ service.service_type }}</a></td>
                <td><a href="{{ url_for('show_service', service_id=service._id) }}">{{ service.name | truncate(40, True) }}</a></td>
                <td><abbr title="{{ ss['last_update'] | datetimeformat }}">{{ ss['last_update'] | prettydate }}</abbr></td>
                <td>{{ ss['last_response_code'] }}</td>
                <td>{{ ss['last_response_time'] }}</td>
                <td>{{ ss['avg_response_time'] | float | round }}</td>
                <td>{{ ss['last_operational_status'] | status_icon | safe }}</td>
            </tr>
            {%- endfor %}
         </tbody>
        {%- endfor %}
    </table>

    <!--
    <h4>Add Service</h4>

    <div>
      <form class="form-horizontal" method="POST" action="{{ url_for('add_service') }}">
        {{ form.hidden_tag() }}

        {% for field in form %}
          {% if field.name != "csrf_token" %}
          <div class="control-group">
            <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
            <div class="controls">
              {{ field() }}
              {% if field.description %}
                <span class="help-block">{{ field.description }}</span>
              {% endif %}
            </div>
          </div>
          {% endif %}
        {% endfor %}

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Add Service</button>
          </div>
        </div>
      </form>
    </div>
    -->

    <script type="text/javascript">
      $(function() {
        $('#region-select').chosen({
          placeholder_text_multiple: "No filters selected..."
        });

        /* Callback for the click event */
        $('.dropdown-menu li a').click(function() {
          if($(this).text() == "Apply Filter") {
            applyFilter();
          } else {
            resetFilter();
          }
        });

        updateSelectBoxes();



        /**
        {% if 'data_provider' in filters and filters['data_provider']['$in']|length == 1 %}
          $('select[name="filter-provider"]').val('{{ filters['data_provider']['$in'][0] }}');
        {% endif %}

        {% if 'service_type' in filters %}
          $('select[name="filter-type"]').val('{{ filters['service_type'] }}');
        {% endif %}

        $('select[name^="filter"]').change(function() {
          var provVal = $('select[name="filter-provider"]').val();
          var typeVal = $('select[name="filter-type"]').val();
          if (provVal == "null" && typeVal == "null") {
            window.location = "{{ url_for("services") }}";
            return;
          }
          var url = '{{ url_for("services") }}filter/';
          url += provVal + "/";
          url += typeVal;

          window.location = url;
        });
        */
      });

      /*
       * Returns the valid providers and filters
       */
      function getValids() {
        var valid = {};
        valid.providers = [];
        valid.filters = [];
        
        $('#region-select option').each(function() {
          valid.providers.push($(this).val());
        });
        
        $('#filter-select option').each(function() {
          valid.filters.push($(this).val());
        });

        return valid;
      }

      function getSelected() {
        var selected = {};
        /* Split the URL up to parse out the provider and filter components */
        var currentURL = document.URL;
        var filters = currentURL.split("/filter/")[1]; /* Split on the /filter/ */
        var filterSplit = filters.split("/");
        selected.providers = filterSplit[0].split(","); /* an array of providers */
        selected.filter = filterSplit[1];

        return selected;
      }


      function updateSelectBoxes() {
        var valid = getValids();
        var selected = getSelected();
        var validProviders = [];
        /* Now go through each of the options and make sure the providers are in the options */
        for(var i in selected.providers) {
          if(valid.providers.indexOf(selected.providers[i]) >= 0) {
            validProviders.push(selected.providers[i]);
          }
        }
        /* Update them appropriately */
        $('#region-select').val(validProviders);
        $('#region-select').trigger("chosen:updated");

        /* Do the same for the filters */
        if(valid.filters.indexOf(selected.filter) >= 0) {
          $('#filter-select').val(selected.filter);
        }
      }

      function applyFilter() {
        var regionSelect = $('#region-select').val();
        var regionString = null;
        var filterType = $('#filter-select').val();
        if(typeof regionSelect != 'undefined' && regionSelect !== null) {
          regionString = regionSelect.join(",");
        }
        var url = "{{url_for("services")}}" + regionString;
        if(filterType != "null") {
          url += "/" + filterType;
        }
        window.location = url;
      }

      function resetFilter() {
        var url = "{{url_for("services")}}";
        window.location = url;
      }

    </script>

</div>

{% endblock %}
