{% extends "layout.html" %}


{% block jumbo %}

<div class="btn-group" style="float: right; margin-top: 10px;">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Admin <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <li><a href="{{ url_for('ping_service', service_id=service._id) }}">Ping</a></li>
    <li><a href="{{ url_for('harvest_service', service_id=service._id) }}">Harvest</a></li>
    <li><a href="{{ url_for('edit_service', service_id=service._id) }}">Edit</a></li>
    <li class="divider"></li>
    <li>
      {% if not service.ping_job_id %}
        <a id="start-monitoring-link" href="#">Start Monitoring</a>
      {% else %}
        <a id="stop-monitoring-link" href="#">Stop Monitoring</a>
      {% endif %}
      {% if not service.harvest_job_id %}
        <a id="start-harvesting-link" href="#">Start Harvesting</a>
      {% else %}
        <a id="stop-harvesting-link" href="#">Stop Harvesting</a>
      {% endif %}
    </li>
    <li><a href="#" id="delete-link">Delete</a></li>
  </ul>
</div>
<form id="start-monitoring-form" class="form-inline" style="float: right;" method="POST" action="{{ url_for('start_monitoring_service', service_id=service._id) }}">
</form>
<form id="stop-monitoring-form" class="form-inline" style="float: right;" method="POST" action="{{ url_for('stop_monitoring_service', service_id=service._id) }}">
</form>
<form id="start-harvesting-form" class="form-inline" style="float: right;" method="POST" action="{{ url_for('start_harvesting_service', service_id=service._id) }}">
</form>
<form id="stop-harvesting-form" class="form-inline" style="float: right;" method="POST" action="{{ url_for('stop_harvesting_service', service_id=service._id) }}">
</form>
<form id="delete-form" class="form-inline" style="float: right;" method="POST" action="{{ url_for('delete_service', service_id=service._id) }}">
</form>

<h3><a href="{{ url_for('show_service', service_id=service._id) }}">{{ service.name }}</a><br/><small><a href="/">IOOS Catalog &#187; <a href="{{ url_for('services') }}">Services</a></small></h3>

{% endblock %}

{% block page %}

<div class="container">
  <div class="row">
    <dl class="dl-horizontal col-lg-8">
      <dt>Name</dt>
      <dd>{{ service.name }}</dd>
      <dt>Service ID</dt>
      <dd>{{ service.service_id | truncate(90, true) }}</dd>
      <dt>Provider</dt>
      <dd><a href="{{ url_for("services", filter_provider=service.data_provider, filter_type='null') }}">{{ service.data_provider }}</a></dd>
      <dt>Type</dt>
      <dd><a href="{{ url_for("services", filter_provider='null', filter_type=service.service_type) }}">{{ service.service_type }}</a></dd>
      <dt>URL</dt>
      <dd><a href="{{ service.url }}">{{ service.url | truncate(90, true) }}</a></dd>
      <dt>Contact(s)</dt>
      <dd>{{ service.contact | default('None',true) }}</dd>
      <dt>Source Metadata URL</dt>
      <dd><a href="{{ service.metadata_url }}">{{ service.metadata_url | truncate(90, true) }}</a></dd>
    </dl>
    <dl class="dl-horizontal col-lg-4">
      <dt>Monitoring</dt>
      <dd>{{ "<span class=\"label label-success\">YES</span>" | safe if service.ping_job_id else "<span class=\"label label-danger\">NO</span>" | safe }}</dd>
      <dt>Last Ping</dt>
      <dd><abbr title="{{ pings['last'] | datetimeformat }}">{{ pings['last'] | prettydate }}</abbr></dd>      
      <dt>Next Ping</dt>
      <dd><abbr title="{{ pings['next'] | datetimeformat }}">{{ pings['next'] | prettydate }}</abbr></dd>

      <br />
      <dt>Harvesting</dt>
      <dd>{{ "<span class=\"label label-success\">YES</span>" | safe if service.harvest_job_id else "<span class=\"label label-danger\">NO</span>" | safe }}</dd>
      <dt>Last Harvest</dt>
      <dd><abbr title="{{ harvests['last'] | datetimeformat }}">{{ harvests['last'] | prettydate }}</abbr></dd>      
      <dt>Next Harvest</dt>
      <dd><abbr title="{{ harvests['next'] | datetimeformat }}">{{ harvests['next'] | prettydate }}</abbr></dd>
    </dl>
  </div>

  {%- if service.service_type == 'SOS' %}
  <h4>Metamap</h4>
  <div class="row">
    <div class="col-lg-8">
      {%- if metadata %}
      <dl class="dl-horizontal">
        {%- for k,v in metadata.metamap|dictsort %}
        <dt>{{ k }}</dt>
        <dd>{{ v }}</dd>
        {%- endfor %}
      </dl>
      {%- else %}
      <p>None collected!</p>
      {%- endif %}
    </div>
    <div class="col-lg-4">
      {%- if metadata %}
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" style="width: {{ metadata.cc_score.pct * 100}}%">
          <span class="sr-only">{{metadata.cc_score.pct * 100}}%</span>
        </div>
      </div>
      <dl class="dl-horizontal">
        <dt>Compliance Score</dt>
        <dd>{{metadata.cc_score.score }}<small>/{{metadata.cc_score.max_score}}</small> ({{ "%.1f"|format(metadata.cc_score.pct * 100) }}%)</dd>
      </dl>
      {%- else %}

      {%- endif %}
    </div>
  </div>
  {%- endif %}

  <h4>Harvested Datasets</h4>
  <div class="col-lg-12 row">
    <ul>
    {%- for d in datasets %}
      <li><span class="badge">{{ d['datasets'] | count }}</span> {{ d['_id'][0] }}</li>
      <ul>
      {%- for l in d['datasets'] %}
        <li><a href="{{ url_for('show_dataset', dataset_id=l['_id']) }}">{{ l['uid'] }}</a></li>
      {%- endfor %}
      </ul>
    {%- endfor %}
    </ul>
  </div>

  <h4>Last Week of Responses</h4>
  <div class="row">
    <div id="y_axis">

    </div>
    <div id="pings">

    </div>
  </div>

  <br/>

</div>

<script type="text/javascript" src="{{ url_for('.static', filename='js/d3.v3.min.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/rickshaw.min.js') }}" /></script>

<script type="text/javascript">

var pingData = {{ ping_data | tojson }};

$(function() {

  var width = 1100,
      height = 50;

  if (pingData.good.length > 0 || pingData.bad.length > 0) {
    var graph = new Rickshaw.Graph({
      element: $('#pings')[0],
      width: width,
      height: height,
      renderer: 'bar',
      series: [{data:pingData.good, color:'#C6D4E1'}, {data:pingData.bad, color:'#d9534f'}]
    });

    var y_ticks = new Rickshaw.Graph.Axis.Y( {
      graph: graph,
      orientation: 'left',
      tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
      tickValues: [0, 200, 400, 600],
      element: $('#y_axis')[0]
    });

    graph.render();
  }

});

$(function() {
  $('#start-monitoring-link').on('click', function() {
    $('#start-monitoring-form').submit();
    event.preventDefault();
  });
  $('#stop-monitoring-link').on('click', function() {
    $('#stop-monitoring-form').submit();
    event.preventDefault();
  });
  $('#start-harvesting-link').on('click', function() {
    $('#start-harvesting-form').submit();
    event.preventDefault();
  });
  $('#stop-harvesting-link').on('click', function() {
    $('#stop-harvesting-form').submit();
    event.preventDefault();
  });
  $('#delete-link').on('click', function() {
    if (confirm("Are you sure you want to delete this service?")) {
      $('#delete-form').submit();
    };
    event.preventDefault();
  });
});

</script>

{% endblock %}
