.img-thumbnail {
  max-height: 350px;
}

tr.hilite>td {
  background-color: #C6D4E1 !important;
  color: #565C61;
}

svg text.first {
  -webkit-filter: blur(2px); filter: url(#blur-effect-1);
  opacity: 0.9;
  stroke: white;
  stroke-width: 5;
}

svg text {
  cursor: pointer;
  color: #565C61;
}

svg .map path {
  fill: #FFFADC;
  stroke: #D6D1BE;
  stroke-width: 1;
}

svg .ioos path {
  fill: #EF7825;
}

svg .ioos .inactive path {
  fill: #ccc;
  stroke: #666;
  stroke-width: 1;
}

svg .ioos .inactive .main {
  fill: #ccc;
}

svg .ioos .inactive .first {
  opacity: 0.3;
}

svg .dataset path {
  fill: #F23128;
  fill-opacity: 0.5;
  stroke: #8C2E19;
  stroke-opacity: 0.5;
  stroke-width: 1.5;
}

/* override some bootstrap colors/styles */

.type-btn {
  margin-bottom: 10px;
}

.btn-success {
  background-color: #FFA855;
  border-color: #EF7825;
}

.btn-success:hover {
  background-color: #FFCF8D;
  border-color: #FFA855;
}

.btn-success .badge {
  color: #ef7825;
}

.btn-xl {
  font-size: 24px;
  line-height: 3;
}

.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 5px solid #C6D4E1;
  background-color: #9fabb7;

  line-height: inherit;
  font-size: inherit;
}

.jumbotron h1, .jumbotron h3 {
  color: #565C61;
  margin-top: 10px;
}

.jumbotron a {
  color: #565C61;
}

.jumbotron a:hover {
}

.jumbotron label {
  margin-top: 10px;
}

.well {
  background-color: #C6D4E1;
  color: #565C61;
}

a {
  color: #567EBB;
}

#pings {
  position: relative;
  left: 40px;
}

#y_axis {
  position: absolute;
  width: 40px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #0088cc;
  color: #fff;
}

/* asset map */
.notthumb {
  width: 250px;
  height: 250px;
  display: block;
  float: left;
  margin: 5px 0 0 5px;

  border: 1px dotted black;
}

.thumb.title {
  background-color: #FFA855;
  border-color: #EF7825;
}

h1.title {
  clear: both;
}

svg #geo {
  fill: #FFFADC;
  stroke: #D6D1BE;
  stroke-width: 1;
}

svg path.dataset {
  fill: #cccccc;
  fill-opacity: 0.1;

  stroke-width: 0.5;
  stroke-opacity: 0.25;
  stroke: #666;
}

svg path.point {
  fill: #ffcc33;
  fill-opacity: 0.25;
  stroke-width: 0.5;
  stroke-opacity: 1;
  stroke: #ffff00;
}

svg path.dataset.active {
  fill: #F23128;
  fill-opacity: 0.6;
  stroke: #8C2E19;
  stroke-opacity: 0.6;
  stroke-width: 1;
}

#shared {
  display: none;
}

#region_select_chosen {
  margin-bottom: 6px;
}

#region_select_chosen .search-field {
  height: 34px;
}

#region_select_chosen .search-choice, #region_select_chosen .search-field input {
  line-height: 1.54;
  height: inherit;
}

#region_select_chosen .search-choice-close {
  top: 7px;
}

#filter_select_chosen {
  margin-bottom: 6px;
}

#filter_select_chosen .search-field {
  height: 34px;
}

#filter_select_chosen .search-choice, #filter_select_chosen .search-field input {
  line-height: 1.54;
  height: inherit;
}

#filter_select_chosen .search-choice-close {
  top: 7px;
}

.navbar-custom {
  background-color: #c6d4e1;
  border-size: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-custom .navbar-img-brand {
  float: left;
}

.navbar-custom .navbar-img-brand img {
  height: 47px;
}

.navbar-custom .navbar-brand {
  color: #565c61;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #3e4246;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #565c61;
}
.navbar-custom .navbar-nav > li > a {
  color: #565c61;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #333333;
  background-color: #b0c4d6;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #afc2d5;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #b0c4d6;
  color: #333333;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #565c61;
  border-bottom-color: #565c61;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #565c61;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333333;
    background-color: #b0c4d6;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #565c61;
}
.navbar-custom .navbar-link:hover {
  color: #333333;
}
