tr.hilite>td {
  background-color: #C6D4E1 !important;
  color: #565C61;
}

svg text.first {
  -webkit-filter: blur(2px); filter: url(#blur-effect-1);
  opacity: 0.9;
  stroke: white;
  stroke-width: 5;
}

svg text {
  cursor: pointer;
  color: #565C61;
}

svg .map path {
  fill: #FFFADC;
  stroke: #D6D1BE;
  stroke-width: 1;
}

svg .ioos path {
  fill: #EF7825;
}

/* override some bootstrap colors/styles */

.btn-success {
  background-color: #FFA855;
  border-color: #EF7825;
}

.btn-success:hover {
  background-color: #FFCF8D;
  border-color: #FFA855;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 5px solid #9fabb7;
  background-color: #C6D4E1;

  line-height: inherit;
  font-size: inherit;
}

.jumbotron h1, .jumbotron h3 {
  color: #565C61;
  margin-top: 10px;
}

.jumbotron a {
  color: #565C61;
}

.jumbotron a:hover {
}

.jumbotron label {
  margin-top: 10px;
}

.well {
  background-color: #C6D4E1;
  color: #565C61;
}

a {
  color: #567EBB;
}

.service-type-btn {
}

#pings {
  position: relative;
  left: 40px;
}

#y_axis {
  position: absolute;
  width: 40px;
}
