{% extends "layout.html" %}

{% block page %}

<h1>{{ service.name }}</h1>
<h2>{{ service.url }}</h2>
<h2>{{ service.data_provider }}</h2>

<a class="btn" href="{{ url_for('ping_service', service_id=service._id) }}">Ping</a>
<a class="btn" href="{{ url_for('start_monitoring_service', service_id=service._id) }}">Start Monitoring</a>
<form class="form-inline" method="POST" action="{{ url_for('delete_service', service_id=service._id) }}">
  <input type="submit" class="btn btn-danger" value="Delete" />
</form>

<hr />

<div class="row">
  <dl class="dl-horizontal span8">
    {% for key, value in service|dictsort %}
    <dt>{{ key }} </dt>
    <dd>{{ value or '&nbsp;'|safe }}</dd>
    {% endfor %}
  </dl>
</div>

<h3>Last 15 Responses</h3>
<table>
  <thead>
    <tr>
      <th>Response Time (ms)</th>
      <th>Response Code</th>
      <th>Status</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for s in stats %}
      <tr>
        <td>{{ s.response_time }}</td>
        <td>{{ s.response_code }}</td>
        <td>{{ s.operational_status }}</td>
        <td>{{ s.created }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td>{{ avg_response_time }}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tfoot>
</table>

{% endblock %}
